/* reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* tag lebel CSS */
body {
  font-family: 'Lato', 'Open Sans', sans-serif;
  color: #333333;
}

h1, h2, h3, nav {
  font-family: 'Lora', 'Georgia', 'Merriweather', serif;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.6rem;
  font-weight: normal;
  padding: 2% 4%;
  color: rgb(246, 251, 246);
  text-shadow: rgba(0, 0, 0, 0.4);
  background-color: rgba(6, 70, 5, 0.7);
}

h2 {
    font-size: 2rem;
    margin: 40px 0 0 60px;
    color: #3b642e;
    text-align: center;
}

a {
    text-decoration: none;
    color: #63806f;
  }

button {
  font-family: 'Lato', 'Open Sans', sans-serif;
  cursor: pointer;
}

/* header section */

#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  
}

#header nav li {
  display: inline-block;
  padding: 0 16px;
}

#header nav img {
  width: 150px;
  height: 60px;
  object-fit: cover;
}

#header nav ul a{
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: .3s;
  padding: 2px;

&::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 1px;
  background-color: #deb887;
  transition: .4s;
  transform: translateX(-50%);
}
&:hover::after {
  width: 100%;
}
}

#header button {
  border: 2px solid #63806f;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 5px 20px;
  background-color: #FFF;
  margin-right: 2%;
}

Header button svg {
  width: 16px;
  height: 16px;
  fill: #63806f;
  margin-right: 2px;
}

.headphoto {
  width: 100%;
  height: auto;
  }

.headphoto-container img {
  position: relative;
  text-align: center;
  width: 100%;
}

/* Themed Floral Arrangements section */

#productList {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3columns */
    gap: 40px 20px;
    margin: 0 auto; 
    padding: 20px; 
}

.productItem {
    background: #FAF4ED;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.productItem img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.productItem h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.productItem p {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Single Flower Bouquets section */

#singleProductList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  margin: 0 auto;
  padding: 20px; 
  }

.singleProductItem {
  background: white;
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.singleProductItem img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.singleProductItem h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.singleProductItem p {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Add to cart button */
#productList button, #singleProductList button {
  padding: 5px 10px;
  border: 2px solid #63806f;
  color: #63806f;
  border-radius: 5px;
  background-color: #FFF;
  font-weight: bold;
}

#productList button:hover, #singleProductList button:hover, #header button:hover, .checkout-button:hover, .remove-item:hover {
  background-color: rgb(232, 255, 127);
  color: black;
  border: 2px solid #111110
}


/* Cart sections */

.cart-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  gap: 20px;
}

.cart-items {
  flex: 3;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 100px;
  height: 100px;
}

.item-details {
  flex: 2;
  margin-left: 20px;
}

.item-name {
  font-size: 1.2rem;
  margin: 10px 0;
}


.quantity-control {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 10px;
}

.quantity-control button {
  padding: 5px;
  background-color: #deb887;
  border: 1px solid #63806f;
  border-radius: 5px;
}

.quantity-control input {
  width: 40px;
  text-align: center;
}

.remove-item {
  padding: 5px 10px;
  border: 2px solid #63806f;
  color: #63806f;
  border-radius: 5px;
  background-color: #FFF;
  font-weight: bold;
  margin-left: 10px;
}

.cart-summary {
  flex: 1;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-summary h2 {
  margin-bottom: 20px;
}

.cart-summary p {
  font-size: 1.2rem;
  margin: 10px 10px;
  text-align: right;
}

.checkout-button {
  padding: 3% 5%;
  border: 2px solid #63806f;
  color: #63806f;
  border-radius: 5px;
  background-color: #FFF;
  font-weight: bold;
  width: 80%;
  margin: 2% 10%;
  font-size: 1.2rem;
}

.checkout-button:hover {
  background-color: rgb(232, 255, 127);
  border: 2px solid #111110;
}

.cart-summary input {
  width: 80%;
  padding: 10px;
  margin: 0 10%;
}

/* About section */

#about p {
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 40px 60px;

}

/* Footer */
footer {
  width: 100%;
  background-color: rgba(6, 70, 5, 0.7);
  line-height: 50px;
  color: white;
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
  padding: 20px 0;
}

@media (max-width: 768px) {
  h1 {
    top: 30%;
    font-size: 2rem;
  }

  #productList {
    grid-template-columns: repeat(2, 1fr); 
}

  #singleProductList{
      grid-template-columns: repeat(2, 1fr);
      
  }

  #header nav li{
    display: none;
  }

  .cart-container {
      flex-direction: column;
      gap: 0;
  }

  .cart-summary {
      margin-top: 20px;
  }

  .cart-item {
      flex-direction: column;
      align-items: flex-start;
  }

  .item-details {
      margin-left: 0;
      margin-top: 10px;
  }

  .remove-item {
      margin-top: 10px;
  }

}

@media (max-width: 480px) {
  h1 {
    top: 30%;
    font-size: 1.8rem;
  }
  #productList {
    grid-template-columns: 1fr; 
}
  #singleProductList {
      grid-template-columns: 1fr;
  }
  
  #header nav li{
    display: none;
  }

  .cart-container {
    padding: 10px;
}

.cart-item img {
    width: 80px;
    height: 80px;
}

.cart-summary input {
    padding: 5px;
}

.checkout-button {
    padding: 10px;
}

}




